
<div class="social-icons">
<!-- <form ng-submit="Submit(main.username);"> -->
<md-input-container class="md-block submitcontrols" flex-gt-sm>
            <label>Name*</label>
            <input ng-model="user.name">
</md-input-container>

<md-input-container class="md-block submitcontrols" flex-gt-sm>
            <label>Roll No.*</label>
            <input ng-model="user.roll">
</md-input-container>

<md-input-container class="md-block submitcontrols" flex-gt-sm>
            <label>Email*</label>
            <input ng-model="user.email">
</md-input-container>
<div style="margin-top:-3vh;">
<md-input-container>
      <label>Select Department*</label>
      <md-select id="dept" ng-model="department" class="submitcontrols" ng-change="submit.setDept()">
        <md-option ng-repeat="(key,val) in submit.depts" ng-value="key" >
          <span style="font-size:1em;padding-top:0.6em;">{{key}}</span>
        </md-option>
      </md-select>
</md-input-container>
</div>
<md-input-container>
      <label>Select Position*</label>
      <md-select ng-model="position" class="submitcontrols">
        <md-option ng-repeat="(key,value) in submit.app[department]" ng-value="value">
          <span style="font-size:1em;padding-top:0.6em;">{{value.name}}</span>
        </md-option>
      </md-select>
</md-input-container>
    <br>

<div style="padding-left: 10%;">
<label class="btn btn-primary">Click Here to Upload Your Application* <input type="file" name="image" file-model="file.upload" ng-disabled="uploading" style="display: none;">
</label>
<label ng-show="file.upload.name"><b> Uploaded File: </b>{{file.upload.name}}</label>
</div>
<div style="padding-left: 25%;">
<md-button ng-show="!uploading" class="getappbutton" style="font-size: 1.2em;" ng-click="submitApp()">Submit</md-button>
<div ng-show="uploading">
  <br>
<b>Loading</b> <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
</div>

<div class="row show-hide-message" ng-show="errormsg">
<div class="alert alert-danger"> {{errormsg}} </div>
</div>
<div class="row show-hide-message" ng-show="successmsg">
<div class="alert alert-success"> {{successmsg}} </div>
</div>
<!-- </form> -->
</div>
