<style media="screen">
.swal2-container.swal2-shown {
background-color: rgba(0,0,0 ,1 );
}
</style>
<div class="social-icons">
<!-- <form ng-submit="Submit(main.username);"> -->
<md-input-container class="md-block submitcontrols" flex-gt-sm>
            <label>Name*</label>
            <input ng-model="user.name">
</md-input-container>

<md-input-container class="md-block submitcontrols" flex-gt-sm>
            <label>Roll No*</label>
            <input ng-model="user.roll">
</md-input-container>

<md-input-container class="md-block submitcontrols" flex-gt-sm>
            <label>Email*</label>
            <input ng-model="user.email">
</md-input-container>
<div style="margin-top:-3vh;">
<md-input-container>
      <label>Select Department*</label>
      <md-select id="dept" ng-model="department" class="submitcontrols" ng-change="submit.setDept()">
        <md-option ng-repeat="(key,val) in submit.depts" ng-value="key">
          <span style="font-size:1em;padding-top:0.6em;">{{key}}</span>
        </md-option>
      </md-select>
</md-input-container>
</div>
<md-input-container>
      <label>Select Position*</label>
      <md-select ng-model="position" ng-init="position = globalpos" class="submitcontrols">
        <md-option ng-repeat="(key,value) in submit.app[department]" ng-value="value">
          <span style="font-size:1em;padding-top:0.6em;">{{value.name}}</span>
        </md-option>
      </md-select>
</md-input-container>
    <br>

<div  style="text-align:center;">
<label class="btn btn-primary" ng-show="!ssb" >Upload App <input type="file" name="image" file-model="file.upload" ng-disabled="uploading" accept="application/pdf" style="display: none;">
</label><br>
<label ng-show="file.upload.name"><b> Uploaded File: </b>{{file.upload.name}}</label>
</div>
<!-- <button type="button" ng-click="testfn()" name="button">hjbhjgb</button> -->
<div style="text-align:center;">
<button class="btn btn-primary" ng-show="!uploading" ng-if="ssb == true" class="getappbutton"  ng-click="submitApp()">Submit</button>
<!-- <div ng-show="uploading">
  <br>
<b>Loading</b> <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div> -->
</div>

<!-- </form> -->
</div>
